/* purgecss start ignore */
@import "@fortawesome/fontawesome-svg-core/styles.css";

@tailwind base;
@tailwind components;

body {
    @apply bg-white-soft;
}

h1 {
    @apply text-6xl md:text-7xl xl:text-9xl font-bold;
    @apply leading-tight md:leading-tight xl:leading-tight;
    @apply break-words;
}

.yt-video {
    position: relative;
    padding-bottom: 56.25%;
}

.yt-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.black {
    background: #111;
}

/* purgecss end ignore */
@tailwind utilities;
